<component name="ArtifactManager">
  <artifact type="war" name="Spring-Data-Jpa:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring-Data-Jpa-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="Spring-Data-Jpa:war exploded" />
    </root>
  </artifact>
</component>